# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Logs
logs/

# Database
*.db

# YOLO model (recommended not to commit)
*.pt

# Environment variables
.env

# Build artifacts
build/
dist/

# Python packaging
*.egg-info/

# macOS
.DS_Store

# Windows
Thumbs.db

# PyInstaller
*.spec